
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Variables
@import 'variables';

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";

// Some basics styles

// p {
//   margin-bottom: 0;
// }
.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.profile{
  color: white;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.imageSlider{
  width: 1920px;
  max-height: 350px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.page-link {
  background-color: $red;
}

.page-link:hover {
  background-color: $orange;
}

.navbar-light .navbar-nav .nav-link:hover{
  color: $orange;
}

a:hover{
  color: $orange;
  text-decoration: none;
}
