
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap';

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.profile{
  color: white;
}
