
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

// Variables
@import 'variables';
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

.card {
  min-width: 250px !important;
}
@include media-breakpoint-up(md) {
  .card {
    max-width: 45%;
  }
}
@include media-breakpoint-up(lg) {
  .card {
    max-width: 30%;
  }
}

.card-deck{
  width: 100%;
}

.participation-label {
  position: relative;
  z-index: 4;
}

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
@import "bootswatch";

// Some basics styles

// p {
//   margin-bottom: 0;
// }

.card-deck {
   justify-content: center;
}

.nav-link {
  padding: 0.2rem 0.5rem;

  h4 {
    margin: 0;
  }
}

.navbar-brand{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  margin-top: -5px;
  margin-bottom: -5px;
}

.container-fluid{
  padding-right: 0px;
  padding-left: 0px;
}

.profile{
  color: white;
}

.row{
  margin-right: 0px;
  margin-left: 0px;
}

.imageSlider{
  width: 1920px;
  max-height: 350px;
  object-fit: cover; /* Do not scale the image */
  object-position: center; /* Center the image within the element */
}

.page-link {
  background-color: $red;
}

.page-link-active {
  background-color: darken($red, 10);
}

.page-link:hover {
  background-color: $orange;
}

.navbar-light, .navbar-nav{
  padding: 0.25rem;
  font-size: 1.3rem;

  & > li {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    &:hover {
      color: orange;
    }
  }
}

.hello {
  color: white;
  font-size: 1rem;
}

a:hover{
  color: $orange;
  text-decoration: none;
}

.avatar {
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: cover;
}

.teamImg {
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
  border-radius: 200px;
}
