// Variables
@import 'variables';

/* Styling for homepage & events */

.details-card {
	background: #ecf0f1;
}

.card-content {
	background: #ffffff;
	border: 4px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  height: 100%;
}

.card-img {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
  height: 250px;

}

.card-img img {
	width: 100%;
	height: auto;
	display: block;
  min-height: 250px;
  object-fit: cover;
  object-position: center top;
}

/* styling box city and date */
span.date, span.city {
  position: absolute;
  color: white;
  padding: 0px;
  background-color: red;
  // border: 2px solid red;
}

/* positionning box date */
span.date {
  top: 0px;
  left: 0px;
}

/* positionning box city */
span.city {
  bottom: 0px;
  right: 0px;
}

.card-img span h4{
  font-size: 14px;
  margin:0;
  padding:10px 5px;
	font-weight: bold;
  // line-height: 0;
}

.card-desc {
	padding: 1.25rem;
}

.card-desc h3 {
	color: #000000;
  font-weight: 600;
  font-size: 1.5em;
  line-height: 1.3em;
  margin-top: 0;
  margin-bottom: 5px;
  padding: 0;
}

.card-desc p {
	color: #747373;
  font-size: 14px;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.5;
	margin: 0px;
	// margin-bottom: 20px;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}
.btn-card{
	background-color: $red;
	color: #fff;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
  padding: .84rem 2.14rem;
  font-size: .81rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  margin: 0;
  border: 0;
  -webkit-border-radius: .125rem;
  border-radius: .125rem;
  cursor: pointer;
  text-transform: uppercase;
  white-space: normal;
  word-wrap: break-word;
  color: #fff;
}
.btn-card:hover {
    background: $orange;
}
a.btn-card {
    text-decoration: none;
    color: #fff;
}




/* Styling for feed in Event Solo */

.card-img-feed {
	position: relative;
	overflow: hidden;
	border-radius: 0;
	z-index: 1;
  height: 150px;

}

.card-img-feed img {
	width: 100%;
	height: auto;
	display: block;
  min-height: 150px;
  object-fit: cover;
  object-position: center top;
}
